.songs {
  padding: 0 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

  margin-bottom: 47px;
}

@media screen and (max-width: 1024px) {
  .songs {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .songs {
    background-color: #fff;
  }
}

@media screen and (max-width: 425px) {
  .songs {
    margin-top: 140px;
  }
}
