.album {
  position: relative;
}

.background {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100%;
  background: no-repeat url('/shadow.png');
  background-size: contain;
  opacity: 0.4;
  transform: scale(1.4);
  cursor: auto;
}

.album img,
.album h3,
.album p {
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.img-container {
  position: relative;

  max-width: 168px;
  max-height: 168px;
  width: 100%;
  height: 100%;

  transition: all 0.3s ease;
  margin-bottom: 12px;
}

.img-container img {
  margin-bottom: 12px;
  width: 168px;
  /* width: 100%; */
  border-radius: 10px;
}

.img-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

.img-container:hover {
  transform: translateY(-1px);
}

.img-container:hover > .img-overlay {
  opacity: 1;
}

.icon {
  font-size: 42px;
  color: yellow;
}

.album h3 {
  font-size: 11px;
  font-weight: 700;
  line-height: 12px;
  color: #121317;
  text-align: center;

  margin-bottom: 9px;
}

.album p {
  font-size: 9px;
  line-height: 100%;
  text-align: center;
  color: #94a7af;
}

.album h3,
.album p {
  max-width: 168px;
  width: 100%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
