.durationbar {
  width: 586px;
  height: 36px;
}

@media screen and (max-width: 1330px) {
  .durationbar {
    width: 486px;
  }
}

@media screen and (max-width: 1230px) {
  .durationbar {
    width: 386px;
  }
}

@media screen and (max-width: 425px) {
  .durationbar {
    width: 150px;
  }
}
