.content {
  height: 100%;
  max-width: 100%;

  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
}
.content::-webkit-scrollbar {
  width: 0px;
}

@media screen and (max-width: 768px) {
  .content {
    width: 100vw;
  }
}
