.player {
  position: sticky;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 17px 30px 17px 17px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(22px);

  display: flex;
  align-items: center;

  z-index: 100;
}

.controls {
  display: flex;
  align-items: center;
  gap: 22px;

  margin-right: 20px;
}

.controls > *,
.song-labels p:last-child,
.song-labels p:first-child,
.song-details img {
  cursor: pointer;
}

.controls div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #001aff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: #fff;
  font-size: 20px;
}

.song-details {
  display: flex;
  align-items: center;
  gap: 19px;

  margin-right: 58px;
}

.song-details img {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

.song-labels {
  width: 75px;
}

.song-labels p:first-child,
.song-labels p:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
  width: 100%;
}

.song-labels p:first-child {
  font-size: 14px;
  line-height: 19px;
  color: #43455e;
  margin-bottom: 3px;
}

.song-labels p:last-child {
  font-size: 13px;
  line-height: 18px;
  color: #9698ab;
}

.duration {
  position: relative;
  margin-right: 59px;
}

.duration p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  font-size: 13px;
  line-height: 18px;
  color: #43455e;
}

.duration p span {
  color: #9698ab;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 27px;
}

.buttons img {
  cursor: pointer;
}

.volume {
  position: relative;
}

.volume-slider {
  position: absolute;
  transform: rotate(-90deg);
  top: -65px;
  left: -46px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 5px;
  background-color: #b5b6bd77;
  border-radius: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #001aff;
  cursor: pointer;
}

.spinning {
  animation: spin360 4s linear infinite;
}

@keyframes spin360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1439px) {
  .player {
    justify-content: space-between;
  }

  .song-details {
    margin-right: 0;
  }

  .duration {
    margin-right: 20px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1180px) {
  .song-details {
    display: none;
  }

  .song-labels {
    width: 125px;
  }
}

@media screen and (max-width: 1024px) {
  .song-details {
    display: flex;
  }
}

@media screen and (max-width: 1000px) {
  .buttons {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .player {
    padding: 10px;
    justify-content: center;
  }

  .song-details {
    display: none;
  }

  .duration {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
  }

  .duration p {
    display: none;
    font-size: 10px;
  }
}
